# Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
build/
dist/

# MuJoCo / outputs
MUJOCO_LOG.TXT
runs/
videos/
*.mp4

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
